* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100vh;
  background-color: #fff;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 10px 40px;
}

nav {
  width: 100%;
  display: inline-flex;
  gap: 20px;
  align-items: center;
}

nav img {
  height: 50px;
  width: 50px;
}

nav h2 {
  font-family: century gothic;
}

form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--form-width, 420px);
  padding: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.profil {
  display: flex;
  height: auto;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.profil i {
  background-color: #898989;
  padding: 30px 35px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-box i {
  position: absolute;
  padding-top: 14px;
  padding-left: 19px;
  color: #333333e6;
}

input {
  width: 350px;
  border-radius: 60px;
  outline: none;
  min-width: 350px;
  padding: 13px;
  text-align: center;
  width: 100%;
  border: 1px solid #bfbfc0e6;
}

input:hover {
  border: 1px solid #585858e6;
}

input:focus {
  border: 1px solid #585858e6;
}

input::placeholder {
  text-align: center;
  color: rgb(75, 75, 75);
  font-family: century gothic;
  font-size: 14px;
}

.value {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 8px;
}

button {
  padding: 13px 60px 10px 55px;
  border-radius: 40px;
  background-color: white;
  color: rgba(0, 0, 0, 0.805);
  font-size: 15px;
  border: 2px solid black;
  font-weight: bolder;
  margin-top: 25px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #000000;
  color: white;
  transition: all 0.5s ease;
}

p {
  text-align: center;
  font-size: 13px;
  margin-top: 35px;
  color: #7b7194;
}
a {
  text-decoration: none;
  font-weight: bolder;
  color: #7b7194;
}
a:hover {
  text-decoration: underline;
  color: black;
}
